.style_qty-section__M5z6S {
  padding: 15px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.style_qty-section__M5z6S span {
  font-size: 13px;
  color: #515151;
  margin-right: 10px;
  font-weight: 400;
  line-height: 15px;
}
.style_qty-section__M5z6S .style_title-head__qixdi {
  color: #515151;
  margin-bottom: 10px;
  font-size: 0.9375rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.01em;
  font-family: robotomedium;
  margin-right: 30px;
}
.style_qty-section__M5z6S .style_qty-box__7IFvE {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.style_qty-section__M5z6S .style_qty-btn__vkRvh {
  font-size: 15px;
  padding: 7px 9px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  line-height: 17px;
  overflow: visible;
  color: #333;
}
.style_qty-section__M5z6S .style_qty-input__Oxd4t {
  line-height: 1.15;
  margin: 0;
  font-size: 15px;
  padding: 7px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  width: 41px;
  text-align: center;
  border-left: 0;
  border-right: 0;
}
.style_qty-section__M5z6S .style_qty-input__Oxd4t:read-only {
  background-color: #fff;
  cursor: not-allowed;
}
